name: test

# Run on pull requests and on the master branch itself.
on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-20.04
    steps:
      # Checkout the code.
      - uses: actions/checkout@v2

      - name: build
        run: docker-compose build --build-arg uid=`id -u` --build-arg gid=`id -g`

      - name: test
        run: |
          docker-compose run -e QT_QPA_PLATFORM=offscreen qgis-desktop make test
          docker-compose run -e QT_QPA_PLATFORM=offscreen qgis-desktop make flake8
          docker-compose run qgis-desktop make docstrings
          docker-compose run qgis-desktop make zip
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

      - name: Publish package
        if: startsWith(github.event.ref, 'refs/tags')
        run: bash upload-artifact.sh
        env:
          THREEDITOOLBOX_ARTIFACTS_KEY: ${{ secrets.THREEDITOOLBOX_ARTIFACTS_KEY }}

      - name: Publish dev-only package
        if: ${{ !startsWith(github.event.ref, 'refs/tags') }}
        run: bash upload-dev-artifact.sh
        env:
          THREEDITOOLBOX_DEV_ARTIFACTS_KEY: ${{ secrets.THREEDITOOLBOX_DEV_ARTIFACTS_KEY }}
